logs
*.log
npm-debug.log*

pids
*.pid
*.seed
dump.rdb

node_modules
.npm

.idea
.DS_Store
temp

/.idea

.env

.vagrant
.eslintcache

# The last line is automatically removed during the travis build
# Don't move it!
config/*.json
