sources:
  /usr/bin/: https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/4.0.3/flyway-commandline-4.0.3-linux-x64.tar.gz
container_commands:
  01_config:
    command: "cp config/prod.config.template config/prod.config"
  02_perm:
    command: "chmod -R 755 /usr/bin/flyway-4.0.3"
  02_path:
    command: "ln -s /usr/bin/flyway-4.0.3/flyway /usr/bin/flyway"
