###############################################################################
#                               DEV_ENV_CONFIG
###############################################################################
#ENV AND PORTS
NODE_ENV=development
HACKILLINOIS_PORT=8080

#API KEYS AND PASSWORDS
HACKILLINOIS_SECRET=VERY_SPECIAL_KEY
HACKILLINOIS_SUPERUSER_EMAIL=superuser@hackillinois.org
HACKILLINOIS_SUPERUSER_PASSWORD=SECRET_PASSWORD
HACKILLINOIS_MAIL_KEY=ANOTHER_SPECIAL_KEY

#DATABASE
LOCAL_MYSQL_NAME=hackillinois-2017
LOCAL_MYSQL_HOST=127.0.0.1
LOCAL_MYSQL_PORT=3306
LOCAL_MYSQL_USER=root
LOCAL_MYSQL_PASSWORD=

###############################################################################
#                               PROD_ENV_CONFIG
###############################################################################
#ENV AND PORTS
NODE_ENV=development
HACKILLINOIS_PORT=8080

#API KEYS AND PASSWORDS
HACKILLINOIS_SECRET=VERY_SPECIAL_KEY
HACKILLINOIS_SUPERUSER_EMAIL=superuser@hackillinois.org
HACKILLINOIS_SUPERUSER_PASSWORD=SECRET_PASSWORD
HACKILLINOIS_MAIL_KEY=ANOTHER_SPECIAL_KEY

#DATABASE
RDS_DB_NAME=hackillinois-2017
RDS_HOSTNAME=localhost
RDS_PORT=3306
RDS_USERNAME=root
RDS_PASSWORD=
